.public-navbar {
  &.navbar-expand-lg .navbar-nav .nav-link,
  .navbar-brand {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
  }
  &.navbar-expand-lg .navbar-nav .nav-link {
    @apply font-semibold text-black text-sm;
    font-family: "Poppins", sans-serif;
  }
}
